.BookDetailAreaWrapper {
  width: 793px;
  background: #fff;
  display: table-cell;
  vertical-align: top;
}

.DetailBody {
  width: 793px;
  padding-bottom: 95px;
}

.HiddenBookTitle {
  position: absolute;
  display: inline-block;
  height: 0;
  width: 0;
  text-indent: -9999px;
  overflow: hidden;
}
