.BookItemWrapper {
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
  min-width: 100px;
  width: 100px;
  height: 100%;
}

.BookItemLink {
  display: inline-block;
}

.ThumbnailContainer {
  width: 100px;
  height: 167px;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}

.ThumbnailWrapper {
  position: relative;
  line-height: 0;
  max-height: inherit;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), linear-gradient(90deg, rgba(0, 0, 0, 0.15) 0, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0.15) 100%);
}

/* .Thumbnail {
  width: 140px;
  max-height: calc(140px * 1.618 - 10px);
} */

.DiscountWrapper {
  position: absolute;
  display: block;
  top: -7px;
  left: -7px;
}

.DiscountSticker {
  width: 34px;
  height: 34px;
  border-radius: 34px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  background: #59667a;
  position: relative;
  color: white;
}

.DiscountNumber {
  font-size: 16px;
  mix-blend-mode: normal;
  font-weight: bold;
  line-height: 14px;
  opacity: 0.99;
}

.DiscountPercent {
  font-weight: bold;
  margin-left: 1px;
  font-size: 14px;
  position: relative;
  line-height: 9px;
}

.BookInfoContainer {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.BookTitleBelowThumbnail {
  font-weight: 700;
  line-height: 1.33em;
  max-height: 2.7em;
  margin-bottom: 4.5px;
  font-size: 14px;
  color: black;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  word-wrap: break-word;
  white-space: normal;
  word-break: keep-all;
  color: white;
}

.BookAuthorBelowThumbnail {
  height: 19px;
  font-size: 14px;
  line-height: 1.36;
  color: #636c73;
  margin-bottom: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  word-wrap: break-word;
  white-space: normal;
  word-break: keep-all;
  color: white;
}
