@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Gowun+Dodum&family=Nanum+Gothic:wght@400;700;800&family=Nanum+Myeongjo:wght@400;700;800&display=swap");
@font-face {
  font-family: 'NanumGothic';
  src : url("../public/font/NanumGothic.ttf") format("truetype");
}
@font-face {
  font-family: 'NanumMyeongjo';
  src : url("../public/font/NanumMyeongjo.ttf") format("truetype");
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family:'Noto Sans KR', sans-serif;

}

@media screen and (min-width: 992px) and (max-width: 1440px) {
  html {
    font-size: 16px;
  }
}
@media screen and (min-width: 769px) and (max-width: 991px) {
  html {
    font-size: 15px;
  }
}
@media screen and (min-width: 621px) and (max-width: 768px) {
  html {
    font-size: 14px;
  }
}
@media screen and (min-width: 576px) and (max-width: 620px) {
  html {
    font-size: 13px;
  }
}
@media screen and (min-width: 100px) and (max-width: 575px) {
  html {
    font-size: 12px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.fr-basic {
  width: 90%;
}

.fr-box.editor_try.fr-ltr.gray-theme.fr-basic .fr-element {
  padding: 0;
  min-height: 0;
}
.gray-theme .fr-view .fr-video {
  height: 20px;
}
.fr-view .fr-video > * {
  width: 80%;
  height: 20px;
}

.fr-element .fr-video > * {
  width: 50%;
  height: 20px;
}

.gray-theme.fr-toolbar .fr-command.fr-btn,
.gray-theme.fr-popup .fr-command.fr-btn,
.gray-theme.fr-modal .fr-command.fr-btn {
  height: 20px !important;
}
.gray-theme.fr-toolbar .fr-command.fr-btn svg.fr-svg,
.gray-theme.fr-popup .fr-command.fr-btn svg.fr-svg,
.gray-theme.fr-modal .fr-command.fr-btn svg.fr-svg {
  height: 15px !important;
}

.fr-toolbar .fr-command.fr-btn svg.fr-svg,
.fr-popup .fr-command.fr-btn svg.fr-svg,
.fr-modal .fr-command.fr-btn svg.fr-svg {
  height: 20px !important;
}

.gray-theme.fr-toolbar .fr-command.fr-btn img,
.gray-theme.fr-popup .fr-command.fr-btn img,
.gray-theme.fr-modal .fr-command.fr-btn img {
  margin: 0px !important;
  width: 14px !important;
  margin-bottom: 2.1px !important;
}
.gray-theme.fr-toolbar .fr-command.fr-btn i,
.gray-theme.fr-toolbar .fr-command.fr-btn svg,
.gray-theme.fr-popup .fr-command.fr-btn i,
.gray-theme.fr-popup .fr-command.fr-btn svg,
.gray-theme.fr-modal .fr-command.fr-btn i,
.gray-theme.fr-modal .fr-command.fr-btn svg {
  margin: 0 !important;
}

.ant-form-item-label > label {
  font-size: 0.8rem;
}

.gray-theme .fr-second-toolbar {
  border-radius: 0 !important;
}
.gray-theme.fr-toolbar.fr-top {
  border-radius: 0 !important;
}

p {
  margin-bottom: 0 !important;
}

.compact-picker{
  width:210px !important;
}

.card_setting_tab .ant-tabs-nav .ant-tabs-nav-wrap .ant-tabs-nav-list .ant-tabs-tab {
  padding: 0px 10px 5px 10px;
}
.card_setting_tab .ant-tabs-nav{
  margin:0;
}

.ant-tree{
  font-size: 1rem;
  color:#535353;
}
.ant-drawer-header{
  padding:5px 10px;
}
.ant-drawer-body{
  padding:5px;
}