html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.fr-basic{
  width:90%;
}

.fr-box.editor_try.fr-ltr.gray-theme.fr-basic .fr-element{
  padding:0;
  min-height: 0;
}
