@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Gowun+Dodum&family=Nanum+Gothic:wght@400;700;800&family=Nanum+Myeongjo:wght@400;700;800&display=swap");
/* @font-face {
  font-family: "NanumGothic";
  src: url("../public/font/NanumGothic.ttf") format("truetype");
}
@font-face {
  font-family: "NanumMyeongjo";
  src: url("../public/font/NanumMyeongjo.ttf") format("truetype");
} */
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Nanum+Myeongjo:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
}

@media screen and (min-width: 992px) and (max-width: 3000px) {
  html {
    font-size: 13px;
  }
}
/* @media screen and (min-width: 769px) and (max-width: 991px) {
  html {
    font-size: 15px;
  }
} */
@media screen and (min-width: 621px) and (max-width: 991px) {
  html {
    font-size: 13px;
  }
}
@media screen and (min-width: 576px) and (max-width: 620px) {
  html {
    font-size: 13px;
  }
}
@media screen and (min-width: 100px) and (max-width: 575px) {
  html {
    font-size: 12px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.fr-basic {
  width: 90%;
}

.fr-box.editor_try.fr-ltr.gray-theme.fr-basic .fr-element {
  padding: 0;
  min-height: 0;
}
.gray-theme .fr-view .fr-video {
  height: 20px;
}
.fr-view .fr-video > * {
  width: 80%;
  height: 20px;
}

.fr-element .fr-video > * {
  width: 50%;
  height: 20px;
}

.gray-theme.fr-toolbar .fr-command.fr-btn,
.gray-theme.fr-popup .fr-command.fr-btn,
.gray-theme.fr-modal .fr-command.fr-btn {
  height: 20px !important;
}
.gray-theme.fr-toolbar .fr-command.fr-btn svg.fr-svg,
.gray-theme.fr-popup .fr-command.fr-btn svg.fr-svg,
.gray-theme.fr-modal .fr-command.fr-btn svg.fr-svg {
  height: 15px !important;
}

.fr-toolbar .fr-command.fr-btn svg.fr-svg,
.fr-popup .fr-command.fr-btn svg.fr-svg,
.fr-modal .fr-command.fr-btn svg.fr-svg {
  height: 20px !important;
}

.gray-theme.fr-toolbar .fr-command.fr-btn img,
.gray-theme.fr-popup .fr-command.fr-btn img,
.gray-theme.fr-modal .fr-command.fr-btn img {
  margin: 0px !important;
  width: 14px !important;
  margin-bottom: 2.1px !important;
}
.gray-theme.fr-toolbar .fr-command.fr-btn i,
.gray-theme.fr-toolbar .fr-command.fr-btn svg,
.gray-theme.fr-popup .fr-command.fr-btn i,
.gray-theme.fr-popup .fr-command.fr-btn svg,
.gray-theme.fr-modal .fr-command.fr-btn i,
.gray-theme.fr-modal .fr-command.fr-btn svg {
  margin: 0 !important;
}

.ant-form-item-label > label {
  font-size: 0.8rem;
}

.gray-theme .fr-second-toolbar {
  border-radius: 0 !important;
}
.gray-theme.fr-toolbar.fr-top {
  border-radius: 0 !important;
}

p {
  margin-bottom: 0 !important;
}

.compact-picker {
  width: 210px !important;
}

.card_setting_tab
  .ant-tabs-nav
  .ant-tabs-nav-wrap
  .ant-tabs-nav-list
  .ant-tabs-tab {
  padding: 0px 10px 5px 10px;
}
.card_setting_tab .ant-tabs-nav {
  margin: 0;
}

.ant-tree {
  font-size: 1rem;
  color: #535353;
}
.ant-drawer-header {
  padding: 5px 10px;
}
.ant-drawer-body {
  padding: 5px;
}

/* Mobile write page for Popover   */
.M-Popover-NumberOfCards > .ant-popover-content > .ant-popover-arrow {
  left: 70%;
  transform: translateX(-30%);
}

.M-Popover-NumberOfCards > .ant-popover-content > .ant-popover-inner {
  width: 110px;
}
.M-Popover-NumberOfCards
  > .ant-popover-content
  > .ant-popover-inner
  > .ant-popover-inner-content {
  font-size: 0.8rem;
  padding: 8px 15px 8px 15px;
}
.Pc-Popover-NumberOfCards > .ant-popover-content > .ant-popover-inner {
  width: 140px;
}
.Pc-Popover-NumberOfCards
  > .ant-popover-content
  > .ant-popover-inner
  > .ant-popover-inner-content {
  font-size: 12px;
  padding: 8px 15px 8px 15px;
}

/* 메인페이지 타이틀 메뉴 설정 */
.ForPageMainTitle {
  font-size: 1.16667rem;
  font-weight: 500;
}
.ForPcPageMainTitle {
  font-size: 15px;
  font-weight: 500;
}
/* 표 관련 설정 */
.ant-table table {
  border-collapse: collapse;
  background-color: white;
}
.ant-table.ant-table-small .ant-table-tbody > tr > td > * {
  font-size: 1rem;
}
.ForPcMainPages .ant-table.ant-table-small .ant-table-tbody > tr > td > * {
  font-size: 13px;
}
.ant-table.ant-table-small .ant-table-thead > tr > th > * {
  font-size: 1rem;
}
.ForPcMainPages .ant-table.ant-table-small .ant-table-thead > tr > th > * {
  font-size: 13px;
}

.ant-table-tbody > tr.ant-table-row:hover > td,
.ant-table-tbody > tr > td.ant-table-cell-row-hover {
  background: #fff;
}
.ant-table.ant-table-small .ant-table-thead > tr > th {
  padding: 4px;
  font-size: 1rem;
}
.ForPcMainPages .ant-table.ant-table-small .ant-table-thead > tr > th {
  font-size: 13px;
}
.ant-table.ant-table-small .ant-table-thead > tr > th.TableCardCounterColumn {
  padding: 0;
}
.ant-table-thead
  > tr
  > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
  display: none;
}
.ant-table.ant-table-small .ant-table-tbody > tr > td {
  height: 4.2rem;
  padding: 0;
  border-bottom: none;
  font-size: 1rem;
}
.ForPcMainPages .ant-table.ant-table-small .ant-table-tbody > tr > td {
  font-size: 13px;
}
.ant-table.ant-table-small .ant-table-tbody > tr > td.TableGroupingColumn {
  padding: 4px;
}

.ant-table.ant-table-small
  .ant-table-tbody
  > tr.LastEvenNumberRow
  > .TableGroupingColumn,
.ant-table.ant-table-small
  .ant-table-tbody
  > tr.LastEvenNumberRow
  > .TableFirstColumn,
.ant-table.ant-table-small
  .ant-table-tbody
  > tr.LastEvenNumberRow
  > .TableMiddleColumn,
.ant-table.ant-table-small
  .ant-table-tbody
  > tr.LastEvenNumberRow
  > .TableLastColumn,
.ant-table.ant-table-small
  .ant-table-tbody
  > tr.LastOddNumberRow
  > .TableGroupingColumn,
.ant-table.ant-table-small
  .ant-table-tbody
  > tr.LastOddNumberRow
  > .TableFirstColumn,
.ant-table.ant-table-small
  .ant-table-tbody
  > tr.LastOddNumberRow
  > .TableMiddleColumn,
.ant-table.ant-table-small
  .ant-table-tbody
  > tr.LastOddNumberRow
  > .TableLastColumn,
.ant-table.ant-table-small
  .ant-table-tbody
  > tr.FoldedCategoryRow
  > .TableGroupingColumn,
.ant-table.ant-table-small
  .ant-table-tbody
  > tr.FoldedCategoryRow
  > .TableFirstColumn,
.ant-table.ant-table-small
  .ant-table-tbody
  > tr.EmptyCategoryRow
  > .TableGroupingColumn,
.ant-table.ant-table-small
  .ant-table-tbody
  > tr.EmptyCategoryRow
  > .TableFirstColumn,
.ant-table.ant-table-small
  .ant-table-tbody
  > tr.OnlyShowHiddenBar
  > .TableGroupingColumn,
.ant-table.ant-table-small
  .ant-table-tbody
  > tr.OnlyShowHiddenBar
  > .TableFirstColumn,
.ant-table.ant-table-small
  .ant-table-tbody
  > tr.LastHiddenBarRow
  > .TableGroupingColumn,
.ant-table.ant-table-small
  .ant-table-tbody
  > tr.LastHiddenBarRow
  > .TableFirstColumn {
  border-bottom: 0.5px solid #dfdfdf;
}
.ant-table.ant-table-small
  .ant-table-tbody
  > tr.LastEvenNumberRow
  > .TableMiddleColumn
  > div,
.ant-table.ant-table-small
  .ant-table-tbody
  > tr.LastEvenNumberRow
  > .TableLastColumn
  > div,
.ant-table.ant-table-small
  .ant-table-tbody
  > tr.LastEvenNumberRow
  > .TableFirstColumn
  > div,
.ant-table.ant-table-small
  .ant-table-tbody
  > tr.LastOddNumberRow
  > .TableMiddleColumn
  > div,
.ant-table.ant-table-small
  .ant-table-tbody
  > tr.LastOddNumberRow
  > .TableLastColumn
  > div,
.ant-table.ant-table-small
  .ant-table-tbody
  > tr.LastOddNumberRow
  > .TableFirstColumn
  > div,
.ant-table.ant-table-small
  .ant-table-tbody
  > tr.EvenNumberRow
  > .TableFirstColumn
  > div,
.ant-table.ant-table-small
  .ant-table-tbody
  > tr.EvenNumberRow
  > .TableMiddleColumn
  > div,
.ant-table.ant-table-small
  .ant-table-tbody
  > tr.EvenNumberRow
  > .TableLastColumn
  > div,
.ant-table.ant-table-small
  .ant-table-tbody
  > tr.OddNumberRow
  > .TableFirstColumn
  > div,
.ant-table.ant-table-small
  .ant-table-tbody
  > tr.OddNumberRow
  > .TableMiddleColumn
  > div,
.ant-table.ant-table-small
  .ant-table-tbody
  > tr.OddNumberRow
  > .TableLastColumn
  > div {
  height: 4.2rem;
  display: flex;
  align-items: center;
  padding: 4px;
  font-size: 1rem;
}
.ant-table.ant-table-small
  .ant-table-tbody
  > tr.LastEvenNumberRow
  > .TableMiddleColumn
  > div,
.ant-table.ant-table-small
  .ant-table-tbody
  > tr.LastEvenNumberRow
  > .TableLastColumn
  > div,
.ant-table.ant-table-small
  .ant-table-tbody
  > tr.LastEvenNumberRow
  > .TableFirstColumn
  > div,
.ant-table.ant-table-small
  .ant-table-tbody
  > tr.LastOddNumberRow
  > .TableMiddleColumn
  > div,
.ant-table.ant-table-small
  .ant-table-tbody
  > tr.LastOddNumberRow
  > .TableLastColumn
  > div,
.ant-table.ant-table-small
  .ant-table-tbody
  > tr.LastOddNumberRow
  > .TableFirstColumn
  > div {
  margin-bottom: 3px;
}
.ant-table.ant-table-small
  .ant-table-tbody
  > tr.EvenNumberRow
  > .TableMiddleColumn
  > div,
.ant-table.ant-table-small
  .ant-table-tbody
  > tr.EvenNumberRow
  > .TableLastColumn
  > div,
.ant-table.ant-table-small
  .ant-table-tbody
  > tr.EvenNumberRow
  > .TableFirstColumn
  > div,
.ant-table.ant-table-small
  .ant-table-tbody
  > tr.LastEvenNumberRow
  > .TableMiddleColumn
  > div,
.ant-table.ant-table-small
  .ant-table-tbody
  > tr.LastEvenNumberRow
  > .TableLastColumn
  > div,
.ant-table.ant-table-small
  .ant-table-tbody
  > tr.LastEvenNumberRow
  > .TableFirstColumn
  > div {
  background-color: #f5f5f5;
}

.ant-table.ant-table-small .ant-table-tbody > tr.MiddleHiddenBar > td,
.ant-table.ant-table-small .ant-table-tbody > tr.LastHiddenBarRow > td {
  height: 2.2rem;
}
.ant-table.ant-table-small
  .ant-table-tbody
  > tr.MiddleHiddenBar
  > .TableFirstColumn
  > div,
.ant-table.ant-table-small
  .ant-table-tbody
  > tr.LastHiddenBarRow
  > .TableFirstColumn
  > div {
  background-color: #fff;
  margin: 3px 0px;
  display: flex;
  align-items: center;
  padding-left: 4px;
  height: 1.75rem;
  font-size: 1rem;
}
.ant-table.ant-table-small
  .ant-table-tbody
  > tr.OddNumberRow
  > .TableFirstColumn
  > div,
.ant-table.ant-table-small
  .ant-table-tbody
  > tr.OddNumberRow
  > .TableMiddleColumn
  > div,
.ant-table.ant-table-small
  .ant-table-tbody
  > tr.OddNumberRow
  > .TableLastColumn
  > div,
.ant-table.ant-table-small
  .ant-table-tbody
  > tr.LastOddNumberRow
  > .TableMiddleColumn
  > div,
.ant-table.ant-table-small
  .ant-table-tbody
  > tr.LastOddNumberRow
  > .TableLastColumn
  > div,
.ant-table.ant-table-small
  .ant-table-tbody
  > tr.LastOddNumberRow
  > .TableFirstColumn
  > div,
.ant-table.ant-table-small
  .ant-table-tbody
  > tr.FirstHiddenBar
  > .TableFirstColumn
  > div,
.ant-table.ant-table-small
  .ant-table-tbody
  > tr.OnlyShowHiddenBar
  > .TableFirstColumn
  > div {
  background-color: #fff;
}
.ant-table.ant-table-small
  .ant-table-tbody
  > tr.EvenNumberRow
  > .TableFirstColumn
  > div,
.ant-table.ant-table-small
  .ant-table-tbody
  > tr.OddNumberRow
  > .TableFirstColumn
  > div,
.ant-table.ant-table-small
  .ant-table-tbody
  > tr.LastEvenNumberRow
  > .TableFirstColumn
  > div,
.ant-table.ant-table-small
  .ant-table-tbody
  > tr.LastOddNumberRow
  > .TableFirstColumn
  > div {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.ant-table.ant-table-small
  .ant-table-tbody
  > tr.EvenNumberRow
  > .TableLastColumn
  > div,
.ant-table.ant-table-small
  .ant-table-tbody
  > tr.OddNumberRow
  > .TableLastColumn
  > div,
.ant-table.ant-table-small
  .ant-table-tbody
  > tr.LastEvenNumberRow
  > .TableLastColumn
  > div,
.ant-table.ant-table-small
  .ant-table-tbody
  > tr.LastOddNumberRow
  > .TableLastColumn
  > div {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.ant-table.ant-table-small
  .ant-table-tbody
  > tr.OnlyShowHiddenBar
  > .TableFirstColumn
  > div,
.ant-table.ant-table-small
  .ant-table-tbody
  > tr.FirstHiddenBar
  > .TableFirstColumn
  > div,
.ant-table.ant-table-small
  .ant-table-tbody
  > tr.EmptyCategoryRow
  > .TableFirstColumn
  > div,
.ant-table.ant-table-small
  .ant-table-tbody
  > tr.FoldedCategoryRow
  > .TableFirstColumn
  > div {
  background-color: #fff;
  margin: 3px 0px;
  display: flex;
  align-items: center;
  padding-left: 4px;
  height: 3.75rem;
  font-size: 1rem;
}

.ant-table.ant-table-small
  .ant-table-tbody
  > tr
  > td.TextAlignCenterColumn
  > div {
  justify-content: center;
}

/* page 책 슬라이드 메뉴 관련 설정 */

.customCircleButton {
  width: 34px;
  height: 24px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.customCircleButton:hover {
  background-color: #495057;
}

.customCircleButton > .anticon-arrow-up > svg,
.customCircleButton > .anticon-arrow-down > svg,
.customCircleButton > .anticon-star.IconForButton > svg,
.customCircleButton > .anticon-eye > svg,
.customCircleButton > .anticon-eye-invisible > svg,
.customCircleButton > .anticon-setting > svg,
.customCircleButton > .anticon-star.IconForButton > svg,
.customCircleButton > .anticon-star.IconForButton > svg {
  font-size: 16px;
  color: #eeeeee;
}
.customCircleButton > .anticon-star.IconForButton.StarFilled > svg {
  font-size: 16px;
  color: #fcc725;
}
.customCircleButton:hover > .anticon-arrow-up > svg,
.customCircleButton:hover > .anticon-arrow-down > svg,
.customCircleButton:hover > .anticon-eye > svg,
.customCircleButton:hover > .anticon-eye-invisible > svg {
  color: #fff;
}
.FirstBookCustom > .anticon-arrow-up > svg,
.LastBookCustom > .anticon-arrow-down > svg {
  color: #828282;
  font-size: 16px;
}

.PushCustomCircleButton {
  width: 44px;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #212529;
}
.PushCustomCircleButton:hover {
  background-color: #a9a9a9;
}
.PushCustomCircleButton > .anticon-double-right > svg {
  font-size: 18px;
  color: #a3a3a3;
}
.PushCustomCircleButton:hover > .anticon-double-right > svg {
  font-size: 18px;
  color: #fff;
}

/* page 커스텀 버튼 끝 */

.editor_try {
  width: 100% !important;
}

.fr-second-toolbar:empty {
  min-height: 0px !important;
}

.ant-radio-group-small .ant-radio-button-wrapper {
  padding: 0px 15px !important;
}

.ant-radio-button-wrapper {
  border: none !important;
}
.ant-radio-button-wrapper:not(:first-child)::before {
  width: 0;
}

.menu {
  font-size: 14px;
  background-color: rgb(245, 245, 245);
  border: 1px solid lightgrey;
  border-radius: 2px;
  padding: 10px 20px;
  width: 130px;
  height: auto;
  margin: 0;
  /* use absolute positioning  */
  position: absolute;
  list-style: none;
  box-shadow: 0 0 7px 0 #ccc;
  opacity: 1;
  transition: opacity 0.5s linear;
}

/* p {
  display: block;
  margin-block-start: 0em !important;
  margin-block-end: 0em !important;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  line-height: 1.3;
} */
/* body{
  line-height: 1.2 !important;
} */

.ant-select-dropdown .ant-select-item {
  min-height: 4.2rem;
  font-size: 1.167rem;
  line-height: 4rem;
}

.brush1 {
  position: relative;
}

.brush1:before {
  content: "";
  z-index: -1;
  left: -0.1em;
  top: 0.3em;
  border-width: 2px;
  border-style: solid;
  border-color: var(--bubble-color);
  position: absolute;
  border-right-color: transparent;
  width: 100%;
  height: 1em;
  transform: rotate(2deg);
  opacity: 0.7;
  border-radius: 50%;
  padding: 0.1em 0.25em;
}

.brush1:after {
  content: "";
  z-index: -1;
  left: -0.1em;
  top: 0.4em;
  padding: 0.1em 0.25em;
  border-width: 2px;
  border-style: solid;
  border-color: var(--bubble-color);
  border-left-color: transparent;
  border-top-color: transparent;
  position: absolute;
  width: 100%;
  height: 1em;
  transform: rotate(-1deg);
  opacity: 0.7;
  border-radius: 50%;
}

.brush3{
  position:relative;
}

.brush3:before{
  content:"";
  background-color:var(--bubble-color);
  width:100%;
  height:1em;
  position:absolute;
  z-index:-1;
  filter:url(#marker-shape);
  left:0em;
  top:0.5em;
  padding:0 0.25em;
}
