html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@media screen and (min-width: 769px) and (max-width: 1440px) {
  html {
    font-size: 16px;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  html {
    font-size: 14px;
  }
}
@media screen and (min-width: 100px) and (max-width: 576px) {
  html {
    font-size: 12px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
